<footer>
    <ul class="footer-grid">
    	<li class="contact-us">
    		<h2>
    			Contact Us
            </h2>
    		<div class="contact-us-information">
      			QUASIM Projektmanagement-Team <br />
      			E-Mail: pm-quasim@dfki.de <br />
      			Deutsches Forschungszentrum für Künstliche Intelligenz (DFKI) | Smart Service Engineering <br />
    		</div>
    	</li>
    	<li class="links">
    		<h2>
    			<a href="/impressum">Impressum</a>
            </h2>
    		<h2>
    			<a href="/datenschutz">Datenschutz</a>
            </h2>
    	</li>
    	<li class="social-media">
    		<h2>
    			Follow Us
            </h2>
    		<div>
    			INSERT ICONS
    		</div>
    	</li>
    </ul>
</footer>
<style>
	footer {
		background-color: black;
		color: white;
		padding-top: 3rem;
        padding-bottom: 5rem;
		font-size: 20px;
		line-height: 1.6;
		text-align: center;
	}
	.footer-grid {
        list-style: none;
		margin: auto;
		width: 1200px;
		max-width: calc(100% - 2rem);
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
	}
    h2 > a {
        color: white;
    }
	.contact-us {
		text-align: left;
	}
    .contact-us-information {
        padding-top: 1rem;
    }
    .links {
        text-align: left;
    }
    .social-media {
        text-align: left;
    }
</style>